:root {
  --first-color: #7fad23;
  --text-color: #303030;
}

a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* FORM */
.form-title {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: .3px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
}

.form-title a {
  color: var(--first-color);
  left: 0px;
  position: absolute;
  top: 0px;
}

.form-sugget {
  margin-top: 10px;
  text-align: center;
}

.form-sugget a {
  color: var(--first-color);
  margin-left: 5px;
}